<h2>Configurações</h2>
<br />
<br />
<button class="btn btn-block btn-primary" type="button" onclick="Cadastrar()">Cadastrar novo usuario</button>


<script>

    function Cadastrar() {
        window.location.href = "../Configuracoes/Cadastrar";
    }

</script>