<br />
<div class="row" style="text-align:center">
    <div class="col-lg-3">
        <div class="row">
            <a href="../Cliente/Index"><img src="~/images/Clientes.png" width="200" height="200" /></a>
        </div>
        <span>Cadastro de Clientes</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a href="../Vendedor/Index"><img src="~/images/Vendedores.png" width="200" height="200" /></a>
        </div>
        <span>Cadastro de Vendedores</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <a href="../Produto/Index"><img src="~/images/Produtos.png" width="200" height="200" /></a>
        </div>
        <span>Cadastro de Produtos</span>
    </div>
</div>
<br />
<div class="row" style="text-align:center">
    <div class="col-lg-3">
        <div class="row">
            <img src="~/images/Vendas.png" width="200" height="200" />
        </div>
        <span>Registros de Vendas</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <img src="~/images/Relatorios.png" width="200" height="200" />
        </div>
        <span>Relatórios</span>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <img src="~/images/Configuracoes.png" width="200" height="200" />
        </div>
        <span>Configurações</span>
    </div>
</div>